### IntelliJ IDEA ###

out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
.classpath
.project
.settings/
target/

### Spring Boot ###
.gitattributes
mvnw
mvnw.cmd
lab4.iml
data/
logs/
postman_collection.json
.mvn/
